.banner{
	width: 100%;
}

.navbar{
	width: 90%;
	margin: auto;
	padding: 1px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.navbar ul li{
	list-style: none;
	display: inline-block;
	margin: 0 15px;
	position: relative;
}

.navbar ul li a{
	text-decoration: none;
	color: #003300;
	text-transform: uppercase;  
}

