/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    --main-color: #004d00;/*buttons*/
    --blue-dark: #003300;/*text*/
    --green-yellow: #cddc39;/*background left up*/
    --pink-light: #d6f5d6;/*background*/
    --cyan-light: #99e699;/*background right down*/
    --white: #ffffff;/*buttons names*/
    --white-alpha-25: rgba(255, 255, 255, 0.25);/*background box*/
}

*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
    outline: none;
}
::before,
::after{
    box-sizing: border-box;
}
body{
    min-height: 100vh;/*bottom*/
    background-image: linear-gradient(to bottom right, var(--pink-light), var(--cyan-light));
    background-attachment: fixed;
    font-size: 15px;/*text size*/
    font-family: 'Poppins', sans-serif;
    font-weight: 300;/*text*/
    color: var(--blue-dark);
    line-height: 1.5;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
    padding: 35px 15px;
}
body.hide-scrolling{
    overflow-y: hidden;
}
body::before{
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--green-yellow);
    z-index: -1;
    opacity: 0.12;
}
a{
    text-decoration: none;
}
h1,h2{
    font-weight: 600;
}
h3,h4,h5,h6{
    font-weight: 500;
}
img{
    max-width: 100%;
    vertical-align: middle;
}
ul{
    list-style: none;
}
section{
    background-color: var(--white-alpha-25);
    border:1px solid var(--white-alpha-40);
    min-height: calc(100vh - 70px);
    border-radius: 30px;
    -webkit-backdrop-filter: var(--backdrop-filter-blur);
    backdrop-filter: var(--backdrop-filter-blur);
    display: none;
}
section.active{
    display: block;
    animation: fadeIn 0.5s ease-in-out forwards;
}
section.fade-out{
    animation: fadeOut 0.5s ease-in-out forwards;
}
.main{
    max-width: 1200px;
    margin: auto;
    transition: all 0.5s ease-in-out;
    position: relative;
}
.main.fade-out{
    opacity: 0;
}
.container{
    padding: 0 40px;
    width: 100%;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.align-items-center{
    align-items: center;
}
.hidden{
    display: none !important;
}
.sec-padding{
    padding: 80px 0;
}
.flex-end{
    justify-content: flex-end;
}

/* Buttons */
button{
    font-family: inherit;
    user-select: none;
}
.btn{
    line-height: 1.5;
    background-color: var(--white-alpha-25);
    border:1px solid var(--white-alpha-40);
    padding: 10px 28px;
    display: inline-block;
    border-radius: 30px;
    color: var(--main-color);
    font-weight: 500;
    text-transform: capitalize;
    font-family: inherit;
    font-size: 16px;
    cursor: pointer;
    user-select: none;
    position: relative;
    overflow:hidden;
    vertical-align: middle;
    transition: color 0.3s ease;
}
.btn::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width:0%;
    background-color: var(--main-color);
    z-index: -1;
    transition: width 0.3s ease;
}
.btn:hover::before{
    width: 100%;
}
.btn:hover{
    color: var(--white);
}

/* Animation Keyframes */
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
/*home*/
.home-section{
    padding: 90px 0;
}
.home-section.active{
   display: flex;
}
.home-text,
.home-img{
    width: 50%;
    padding: 40px;
}
.home-text p{
    font-size: 18px;
}
.home-text h1{
    font-size: 50px;
    text-transform: capitalize;
}
.home-text h2{
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 300;
    margin:0 0 30px ;
}
.home-text .btn{
    margin:0 15px 15px 0;
}
.home-img .img-box{
    max-width: 360px;
    background-color: var(--white-alpha-25);
    border-radius: 50%;
    border: 8px solid var(--white-alpha-25);
    margin: auto;
}
.home-img .img-box img{
    width: 100%;
    border-radius: 50%;
}

