* {
    margin: 0;
    padding: 0;
}
body{
    background-color: #01171b;
}
svg path{
    fill: #00394f;
    stroke: #eee;
    stroke-width: .25;
}

svg.path:hover {
    fill: #006284;
    transition: 0.6s;
    cursor: pointer;
}