body{
    font-family: 'Roboto', sans-serif;
}
.team-wrapper{
    background: #D9FCC2;
    padding: 50px 0px;
    min-height: 100vh;
}
.section-title{
    color: black;
    padding: 30px 0px;
}
.section-title h2{
    color: black;
    font-size: 44px;
    font-weight: 700;
}
.team-item{
    position: relative;
    background: #D8DCD6;
    margin: 15px 5px;
    overflow: hidden;
    cursor: pointer;
    transition: all .5s;
}
.item-meta{
    position: absolute;
    background: white;
    width: 100%;
    bottom: -35px;
    left: 0;
    padding: 10px 20px;
    transition: all .5s;
}
.team-item:hover .item-meta{
    bottom: 0px;
}
.item-meta h3{
    color: black;
    font-size: 20px;
    font-weight: 500;
}
.item-meta h6{
    color: black;
}
.item-image img{
    transition: all .5s;
}
.team-item:hover img{
    background: #424248;
}

.navbar{
	width: 100%;
    margin: auto;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    background-color: #d9fcc2;
	
}
.navbar ul li{
	list-style: none;
	display: inline-block;
	margin: 0 15px;
	position: relative;
	transition: 0.9s;
	border-radius: 10px;
	width: 90px;
	text-align: center;
}

.navbar ul li:hover {
  background-color: #497a43;
  color: white;
  
}

.navbar ul li a{
	text-decoration: none;
	color: #003300;
	text-transform: uppercase;  
}


	
}
.navbar ul li{
	list-style: none;
	display: inline-block;
	margin: 0 15px;
	position: relative;
	transition: 0.9s;
	border-radius: 10px;
	width: 80px;
	text-align: center;
}

.navbar ul li:hover {
  background-color: #497a43;
  color: white;
  
}

.navbar ul li a{
	text-decoration: none;
	color: #003300;
	text-transform: uppercase;  
}

